@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
    margin: 0;
    padding: 0;
  }

body {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}

body{
  font-size: 14px;
}

h1{
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
  
}


h2{
  color: white;
  text-shadow: #020819 8px -20px 9px;
  font-size:5em;
  text-align: center;
  text-transform: uppercase;

}

.quote {
  font-size: 2.5em;
  position: absolute;
  left:10%;
  bottom:15vh;

}

h3{
  font-size: 4.2em;
  text-align: center;
}


h4{
  font-size: 1.5em;
  letter-spacing: 0.4px;
  margin:0 0 14px 0;

}

h5{
  font-size: 1.2em;

}

.nav-bar {
  color: white;
  background-color: rgb(25, 33, 41);
  padding: 14px 0px 14px 0px;
  height: 40px;



}

.nav-bar-item {
  color: white;
  font-size: 2em;
  text-decoration:white;
}

.header {
  background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
  position: 0 0;
  background-repeat: no-repeat;
  size: cover;
  height:650px;
  padding: 50px 0px 0px 0px;
  position:relative;
}

.nav-bar-ul{
  width: 1200px;
  margin: 0 auto;
}

.nav-bar-li{
  list-style-type: none;
  text-align: center;
  float: left;
  width:33%;
}

.container{
  width:1200px;
  margin: 0 auto;
  padding: 75px 0;
}

.text{
  margin:20px 0px 20px 0px;
  font-size:2em;
  font-weight: 100;
  text-align: center;
}

.dark-background{
  background-color:rgb(25, 33, 41);
  color: white;
}

.link-btn{
  background-color: rgb(67,163,230);
  color: white;
  font-family: "Roboto Condensed";
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 150px;
  margin:40px auto 0 auto;
  padding:14px 20px 14px 20px;
  border: 2px black solid 0.2;

}

.service-box{
  font-size:1.7em;
  text-align: center;
  border:2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin:50px 5% 0 5%;
  padding:20px 20px 20px 20px;
  width:40%;

}

.img{
  width:125px;
}

#team .section-text{
  font-size:1.9em;
  text-align: center;
  width: 60%;
  margin:10px auto;

}

#team .member-name{
  font-size:1.5em;
  font-weight: 700;
  text-align: center;
  display: block;
}

.footer{
  text-align: center;
  font-size: 1.9em;
  padding:0px 100px 0px 100px;
  margin:0px 0px 25px 0px;
}

.address{
  font-style: normal;
  font-size:0.8em;
  margin:0px 0px 30px 0px;

}

.footer-link{
  color:rgb(67,163,230);
  text-decoration: none;
  list-style-type: none;
}

.hr{
  margin:20px auto 30px auto;
  width:40%;
  text-decoration: none;
}

.col{float: left;}


.col-middle {
  height: 5%;
  width: 5%;
}

.col-3 {  
  height: 30%;
  width: 30%;
}


.clearfix { clear: both;}


.map-frame{
  height: 375px;
  float: right;
  width: 60%;
}



.schedule-table{
  margin:0 auto 40px auto;
  font-size: 1.5em;
}

.cell{
  padding:5px 10px 10px 5px;
  border-bottom:solid 1px black;
  text-align: center;
}

.slot-form-container{
  width: 40%;
  margin: 18px auto 0 auto;
  font-size: 1.5em;
  text-align: center;
}

.label-behav{
  display: block;
  line-height: 15px;
  margin:0px 0px 15px 0px;
}

.input-slot{
  height: 20px;
  outline: none;
  padding: 3px 3px 3px 3px;
  width: 100%;
}


.button{
  border:1px solid black;
  color: black;
  background-color: white;
  padding: 9px 9px 9px 9px;
  margin: 15px 0px 0px 0px;

}